a{
  text-decoration: none;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: relative;
  z-index: 12;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link-to-form {
  position: relative;
  display: block;
  width: 92px;
  height: 30px;
  border-radius: 9px;
  background-color: #4ae97f;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  margin-right: 50px;
}

.wrapper-btn-buy {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.warpper-form {
  width: 400px;
  padding: 20px;

  border: 1px solid red;
  border-radius: 8px;
  margin: 0 auto;

  background-color: #bdb5b5;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .wrapper-input{
    position: relative;
}
  input {

    display: block;
    cursor: pointer;
    width: 220px;
    border-radius: 8px;
  }

  input:focus {
    outline: none;
    border-color: #85e3bc;
  }

  label {
    display: block;
  }

  .text-error {
    position: absolute;
  }

  .form-label-text {
    color: #463921;
    cursor: pointer;
  }

  button {
    width: 122px;
    cursor: pointer;
    height: 24px;
    text-align: center;
    border-radius: 14px;
    border: none;
    background-color: #4caf50;
    color: white;
  }

  p {
    margin: 0;
    color: #d24c4c;

    margin-top: 5px;
    font-size: 12px;
  }
}

body {
  padding: 15px 20px;
  background-color: black;
  color: wheat;

}

.header {
  display: flex;
  justify-content: space-around;

  .logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #e44d26;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  li {
    margin: 0 20px;
    list-style: none;
    transition: 0.4s ease;

    &:hover {
      color: silver;

    }
  }

  .active {
    color: red;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 47px;
  padding: 20px;

  .card_item {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    background-color: #fff9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
    -moz-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
    box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);

    h2 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 8px;
      color: #e44d26;
    }

    b {
      font-size: 14px;
      color: #e44d26;
      font-weight: bold;
      text-align: center;
    }

    img {
      transition: all 0.5s ease;
      padding-left: 16px;
    }

    img:hover {
      transform: scale(1.02);
    }

    p {
      font-size: 12px;
      color: #e44d26;
      text-align: center;
    }

    button {
      background-color: #e44d26;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #d1401a;
      }
    }
  }
}
.card-row{
  display: flex;
  flex-wrap: wrap;

  gap: 47px;
  padding: 30px;

  .card_item {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    -webkit-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
    -moz-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
    box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);

    h2 {
      text-align: start;
      font-size: 16px;
      margin-bottom: 8px;
      color: #e44d26;
      width: 120px;
    }

    b {
      font-size: 14px;
      color: #e44d26;
      font-weight: bold;
      text-align: center;
      width: 96px;
    }

    img {
      transition: all 0.5s ease;
      padding-left: 16px;
      width: 200px;
     order: 0;
    }

    img:hover {
      transform: scale(1.02);
    }

    p {
      width: 100px;
      font-size: 12px;
      color: #e44d26;
      text-align: center;
    }

    button {
      background-color: #e44d26;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #d1401a;
      }
    }
  }
}






.star_shop {
  color: black;
}

.star {
  color: rgb(7, 7, 7)
}

.Nothing {
  color: #555;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: center;
}

.modal__title {
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  color: #150d03;


  p {
    margin-bottom: 15px;
  }

  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #2980b9;
    }
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.showNoting {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.showBuy {
  position: absolute;
  border: 1px solid red;
  z-index: 10;
  background-color: silver;
  top: 91px;
  right: 120px;
  min-height: 100px;
  width: 300px;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.icon-buy {
  margin: 0 10px;
}

.star-active {
  color: orange;
}

.showStar {
  position: absolute;

  z-index: 10;
  background-color: silver;
  top: 91px;
  left: 43px;
  min-height: 100px;
  width: 300px;
  border: 1px solid orange;
}

.oder_counter {
  margin: 0 5px;
}

.star_counter {
  margin: 0 5px;
}

.delete {
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.delete:hover {
  color: #4ae97f

}

.unActive-btn {
  background-color: #555;
  color: #555;
}

.btn-unactive {
  background-color: #2980b9;
}

.Nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  background-color: #ddd;
  height: 200px;
  border-radius: 6px;
  border: 1px solid silver
}


.Oders-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.buy-item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: #8c8888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 300px;
  min-height: 280px;
  padding-top: 20px;
  -webkit-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
  -moz-box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);
  box-shadow: 17px 2px 51px 11px rgba(242, 242, 234, 1);

  img {

    width: 140px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  b {
    color: #354e5f;
    font-size: 1.2em;
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }

  .delete {
    color: #e74c3c;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #c0392b;
    }
  }
}

.icon-star {
  color: #99d3ad;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    color: #3b8d57;

  }
}

.icon-buy {
  color: #99d3ad;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    color: #3b8d57;
  }
}

.logo a {
  cursor: pointer;
  color: #99d3ad;
}

.Star-delete {

  position: absolute;
  right: 32px;
  top: 20px;
  cursor: pointer;
}

.btn-unactive {
  background-color: #555;
}

#already-In-Buy-list {
  position: absolute;
  color: orange;
  font-size: 16px;
  top: -3px;
  left: 118px;
}

.star_shop {
  position: absolute;
  top: 20px;
  left: 59px;
}
.home-page a{
  color: inherit;
  transition: 0.4s ease;
  &:hover{
    color:silver;
  }
}
.message-after-form{
  text-align: center;
  width: 400px;
  min-height:46px;
  border-radius: 8px;
  border: 1px solid red;
  position: absolute;
  top: -14px;
  left: 444px;
  z-index: 13;
  background-color: #8c8888;
  display: flex;
  justify-content: center;
  align-items: center;
}
